.iteration {
    display: flex;
}

img.mobile {
    max-width: 300px;

}

img.desktop {
    max-width: 600px;
}

div.type {
    padding: 50px;
    padding-top: 0px;
}

section {
    display: block;
}

h2 {
    padding-top: 50px;
    margin-bottom: 10px;
    padding-bottom: 0px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    justify-content: center;
    background-color: lightgray;
    width: 100%;
}